{
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["node_modules", "src"]
          }
        }
      }
    },
    "import/core-modules": [
      "react", "react-dom"
    ]
  }
}
